%h4 2017
.item
  .pubmain
    .pubassets
      %a(href="http://dl.acm.org/citation.cfm?id=2818868" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C30.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C30.pdf")
      -#%img.pubthumb(src="images/thumbs/2017_date_2.png")
    %h4.pubtitle#c30
      %a(href="http://dl.acm.org/citation.cfm?id=2818868" target="_blank") Data flow testing for virtual prototypes
    .pubauthor
      Muhammad Hassan,
      Vladimir Herdt,
      Hoang M. Le,
      %strong Mingsong Chen,
      Daniel Große,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning C30
      In Design, Automation and Test in Europe (DATE) | Lausanne, Switzerland, March 2017     
.item
  .pubmain
    .pubassets
      %a(href="https://www.researchgate.net/publication/310330767_Energy-Adaptive_Scheduling_of_Imprecise_Computation_Tasks_for_QoS_Optimization_in_Real-Time_MPSoC_Systems" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C29.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C29.pdf")
      -#%img.pubthumb(src="images/thumbs/2017_date_1.png")
    %h4.pubtitle#c29
      %a(href="https://www.researchgate.net/publication/310330767_Energy-Adaptive_Scheduling_of_Imprecise_Computation_Tasks_for_QoS_Optimization_in_Real-Time_MPSoC_Systems" target="_blank") Energy-Adaptive Scheduling of Imprecise Computation Tasks for QoS Optimization in Real-Time MPSoC
    .pubauthor
      Junlong Zhou,
      Jianmin Yan,
      Tongquan Wei,
      %strong Mingsong Chen,
      X Sharon
    .pubcite
      %span.label.label-warning C29
      In Design, Automation and Test in Europe (DATE) | Lausanne, Switzerland, March 2017     
%h4 2016
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISSSR.2016.026" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C28.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C28.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c28
      %a(href="https://doi.org/10.1109/ISSSR.2016.026" target="_blank") Static Thermal-Aware Task Assignment and Scheduling for Makespan Minimization in Heterogeneous Real-time MPSoCs
    .pubauthor
      Kun Cao,
      Junlong Zhou,
      Min Yin,
      Tongquan Wei,
      %strong Mingsong Chen
    .pubcite
      %span.label.label-warning C28
      In International Symposium on System and Software Reliability (ISSSR) | Shanghai, China, December 2016     
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISSSR.2016.026" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C27.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C27.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c27
      %a(href="https://doi.org/10.1109/ISSSR.2016.026" target="_blank") Game Theoretic Energy Allocation for Renewable Powered In-Situ Server Systems
    .pubauthor
      Junlong Zhou,
      Jianfei Chen,
      Kun Cao,
      Tongquan Wei,
      %strong Mingsong Chen
    .pubcite
      %span.label.label-warning C27
      In International Conference on Parallel and Distributed Systems (ICPADS) | Wuhan, China, December 2016     
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/QRS.2016.39" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C26.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C26.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c26
      %a(href="https://doi.org/10.1109/QRS.2016.39" target="_blank") Quantitative Analysis of Variation-Aware Internet of Things Designs using Statistical Model Checking
    .pubauthor
      Siyuan Xu,
      Weikai Miao,
      Thomas Kunz,
      Tongquan Wei,
      %strong Mingsong Chen
    .pubcite
      %span.label.label-warning C26
      In International Conference on Software Quality, Reliability & Security (QRS) | Vienne, Ausria, August 2016  | Pages 274&ndash;285    
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/C25.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C25.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c25
      %a(href="" target="_blank") Choosing the Best Strategy for Energy Aware Building System: an SVM-based Approach
    .pubauthor
      Yuanyang Wang,
      Xiaohong Chen,
      Haiying Sun,
      %strong Mingsong Chen
    .pubcite
      %span.label.label-warning C25
      In International Conference on Software Engineering and Knowledge Engineering (SEKE) | San Francisco, CA, USA, July 2016     
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/COMPSAC.2016.136" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C24.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C24.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c24
      %a(href="https://doi.org/10.1109/COMPSAC.2016.136" target="_blank") improving Defect Detection Ability of Derived Test Cases Based on Mutated UML Activity Diagrams
    .pubauthor
      Haiying Sun,
      %strong Mingsong Chen,
      Min Zhang,
      Jianwen Li,
      Ying Zhang
    .pubcite
      %span.label.label-warning C24
      In International Conference on Software Engineering and Knowledge Engineering (COMPSAC) | Georgia, USA, June 2016     
.item
  .pubmain
    .pubassets
      %a(href="http://ieeexplore.ieee.org/document/7459412/" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C23.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C23.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c23
      %a(href="http://ieeexplore.ieee.org/document/7459412/" target="_blank") Timing Analysis of UML Activity Diagrams Using Statistical Model
    .pubauthor
      Fan Gu,
      Xiqian Zhang,
      %strong Mingsong Chen,
      Daniel Große,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning C23
      In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2016   | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/26/09/5707756f4e08bafdae11a0de24d0/38e7366f-0e61-42df-afd1-6d895aa171a2.pdf" target="_blank"> ppt </a>  
%h4 2015
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/COMPSAC.2015.114" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C22.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C22.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c22
      %a(href="https://doi.org/10.1109/COMPSAC.2015.114" target="_blank") Evaluating Energy Consumption for Cyber-Physical Energy System: an Environment Ontology based Approach
    .pubauthor
      Xiaohong Chen,
      Fan Gu,
      %strong Mingsong Chen,
      Dehui Du,
      Jianwen Li,
      Haiying Sun
    .pubcite
      %span.label.label-warning C22
      In International Conference on Software Engineering and Knowledge Engineering (COMPSAC) | Taichung, Taiwan, July 2015     
.item
  .pubmain
    .pubassets
      %a(href="http://ieeexplore.ieee.org/document/7092382/" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C21.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C21.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c21
      %a(href="http://ieeexplore.ieee.org/document/7092382/" target="_blank") Variation-Aware Evaluation for MPSoC Task Allocation and Scheduling Strategies using Statistical Model Checking
    .pubauthor
      %strong Mingsong Chen,
      Daian Yue,
      Xiaokang Qiu,
      Xin Fu,
      Prabhat Mishra,
      Haiying Sun
    .pubcite
      %span.label.label-warning C21
      In Design, Automation and Test in Europe (DATE) | Grenoble, Germany, March 2015   | <a href="http://faculty.ecnu.edu.cn/picture/article/223/e4/c6/7cf181a9488dbd16c5f51eae710a/951f8cc1-119d-4f5e-ba9c-d1073d0ae63d.zip" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/f4/3a/b11e4543409491a99e97f90be516/af0abfa3-24f2-4da7-83c3-7505d8befcf5.pdf" target="_blank"> ppt </a>  
%h4 2014
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/APSEC.2014.47" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C20.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C20.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c20
      %a(href="https://doi.org/10.1109/APSEC.2014.47" target="_blank") Runtime Verification by Convergent Formula Progression
    .pubauthor
      Yan Shen,
      Jianwen Li,
      Zhike Wu,
      Ting Su,
      Bin Fang,
      Geguang Pu,
      Wanwei Liu,
      %strong Mingsong Chen
    .pubcite
      %span.label.label-warning C20
      In Asia-Pacific Software Engineering Conference (APSEC) | , South Korea, December 2014  | Pages 255&ndash;262    
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/BDCloud.2014.48" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C19.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C19.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c19
      %a(href="https://doi.org/10.1109/BDCloud.2014.48" target="_blank") Variation-Aware Resource Allocation Evaluation for Cloud Workflows using Statistical Model Checking
    .pubauthor
      Sharon Hu,
      %strong Mingsong Chen,
      Xuandong Li,
      Dehui Du,
      Xiaohong Chen
    .pubcite
      %span.label.label-warning C19
      In IEEE International Conference on Big Data and Cloud Computing  (BdCloud) | Sydney, Australia, December 2014   | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/17/51/7bca511b46d1ab73ceade591c329/b8fa9311-a2bb-4b4f-83de-02c6c12f95fe.pdf" target="_blank"> ppt </a>  
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/SERE.2014.20" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C18.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C18.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c18
      %a(href="https://doi.org/10.1109/SERE.2014.20" target="_blank") ADAutomation: An Activity Diagram Based Automated GUI Testing Framework for Smartphone Applications
    .pubauthor
      Ang Li,
      Zishan Qin,
      %strong Mingsong Chen,
      Jianwen Li,
      Xiaohong Chen
    .pubcite
      %span.label.label-warning C18
      In IEEE International Conference on Software Security and Reliability (SERE) | CA, USA, June 2014   | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/f4/3a/b11e4543409491a99e97f90be516/31cd2d8b-ce80-48cd-9e37-839b565ba904.pdf" target="_blank"> ppt </a>  
.item
  .pubmain
    .pubassets
      %a(href="http://dl.acm.org/citation.cfm?id=2591132" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C17.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C17.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c17
      %a(href="http://dl.acm.org/citation.cfm?id=2591132" target="_blank") A Novel Quantitative Evaluation Approach for Software Project Schedules using Statistical Model Checking
    .pubauthor
      Dehui Du,
      %strong Mingsong Chen,
      Xuandong Li,
      Yun Yang,
      Xiaohong Chen
    .pubcite
      %span.label.label-warning C17
      In  International Conference on Software Engineering (ICSE) | hyderabad, india, July 2014     
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/C16.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C16.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c16
      %a(href="" target="_blank") Efficient Two-Phase Approaches for Branch-and-Bound Style Resource Constrained Scheduling Efficient
    .pubauthor
      %strong Mingsong Chen,
      Fan Gu,
      Lei Zhou,
      Geguang Pu,
      Xuandong Li
    .pubcite
      %span.label.label-warning C16
      In  International Conference on VLSI Design (ICSE) | Mumbai, india, January 2014   | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/ba/43/8ee536044cdcb84b6880d2523a87/9c280848-3e9a-40d9-8ba5-66f1ddf6cbef.pdf" target="_blank"> ppt </a>  
%h4 2013
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ICECCS.2013.23" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C15.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C15.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c15
      %a(href="https://doi.org/10.1109/ICECCS.2013.23" target="_blank") Spatio-temporal Properties Analysis for Cyber-physical Systems
    .pubauthor
      Zhucheng Shao,
      Jianwen Li,
      Zuohua Ding,
      %strong Mingsong Chen,
      Ningkang Jiang
    .pubcite
      %span.label.label-warning C15
      In International Conference on Engineering of Complex Computer Systems (ICECCS) | , Singapore, February 2013     
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/CODES-ISSS.2013.6659001" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C14.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C14.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c14
      %a(href="https://doi.org/10.1109/CODES-ISSS.2013.6659001" target="_blank") Bound-Oriented Parallel Pruning Approaches for Efficient Resource Constrained Scheduling of High-Level Synthesis
    .pubauthor
      %strong Mingsong Chen,
      Lei Zhou,
      Geguang Pu,
      Jifeng He
    .pubcite
      %span.label.label-warning C14
      In  International Conference on Hardware/Software Codesign and System Synthesis Design (CODES+ISSS) | , , September 2013   | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/ba/43/8ee536044cdcb84b6880d2523a87/51f4b12b-ebb5-4e49-a8c3-55f44139a5cb.pdf" target="_blank"> ppt </a>  
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISVLSI.2013.6654637" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C13.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C13.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c13
      %a(href="https://doi.org/10.1109/ISVLSI.2013.6654637" target="_blank") Branch-and-Bound Style Resource Constrained Scheduling using Efficient Structure-Aware Pruning
    .pubauthor
      %strong Mingsong Chen,
      Sharon Hu,
      Geguang Pu,
      Prabhat Mishra
    .pubcite
      %span.label.label-warning C13
      In IEEE Computer Society Annual Symposium on VLSI (ISVLSI) | Natal, Brazil, August 2013   | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/ba/43/8ee536044cdcb84b6880d2523a87/53211603-e3c2-43f2-ae01-7b72bb29d810.pdf" target="_blank"> ppt </a>  
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/VLSID.2013.208" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C12.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C12.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c12
      %a(href="https://doi.org/10.1109/VLSID.2013.208" target="_blank") Assertion-Based Functional Consistency Checking between TLM and RTL Models
    .pubauthor
      %strong Mingsong Chen,
      Prabhat Mishra
    .pubcite
      %span.label.label-warning C12
      In  International Conference on VLSI Design (ICSE) | Pune, india, January 2013   | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/ba/43/8ee536044cdcb84b6880d2523a87/036e0ba2-e29d-4b84-9bec-9d6f7f6a5535.pdf" target="_blank"> ppt </a>  | <span class='red'> Nominated for best paper award</span> 
%h4 2012
.item
  .pubmain
    .pubassets
      %a(href="dl.acm.org/ft_gateway.cfm?id=2380480" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C11.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C11.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c11
      %a(href="dl.acm.org/ft_gateway.cfm?id=2380480" target="_blank") Efficient Self-learning Techniques for SAT-based Test Generation
    .pubauthor
      Ang Li,
      %strong Mingsong Chen
    .pubcite
      %span.label.label-warning C11
      In  International Conference on Hardware/Software Codesign and System Synthesis Design (CODES+ISSS) | , , September 2012   | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/ba/43/8ee536044cdcb84b6880d2523a87/4b241d03-97aa-45b0-9499-3f9788948c92.pdf" target="_blank"> ppt </a>  
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ISORCW.2012.16" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C10.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C10.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c10
      %a(href="https://doi.org/10.1109/ISORCW.2012.16" target="_blank") Extending the Four-Variable Model forCyber-Physical Systems
    .pubauthor
      Xiaohong Chen,
      %strong Mingsong Chen
    .pubcite
      %span.label.label-warning C10
      In IEEE International Symposium on Object/component/service-oriented Real-time distributed Computing (ISORC) | Shenzhen, China, April 2012  | Pages 31&ndash;36    
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1145/2430475.2430481" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C9.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C9.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c9
      %a(href="https://doi.org/10.1145/2430475.2430481" target="_blank") An approach to communicating process modeling of MARTE
    .pubauthor
      Zhike Wu,
      Jianwen Li,
      Xiaohong Chen,
      %strong Mingsong Chen
    .pubcite
      %span.label.label-warning C9
      In Proceedings of the Fourth Asia-Pacific Symposium on Internetware (APSI) | QingDao, China, October 2012     
%h4 2011
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/DATE.2011.5763037" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C8.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C8.pdf")
      -#%img.pubthumb(src="images/thumbs/2011_date.png")
    %h4.pubtitle#c8
      %a(href="https://doi.org/10.1109/DATE.2011.5763037" target="_blank") Decision Ordering Based Property Decomposition for  Functional Test Generation
    .pubauthor
      %strong Mingsong Chen,
      Prabhat Mishra
    .pubcite
      %span.label.label-warning C8
      In Design, Automation and Test in Europe (DATE) | Grenoble, France, March 2011   | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/ba/43/8ee536044cdcb84b6880d2523a87/5a05a639-4caf-437e-b982-a92777d20b7c.pdf" target="_blank"> ppt </a>  
%h4 2010
.item
  .pubmain
    .pubassets
      %a(href="esl.cise.ufl.edu/Publications/chenThesis.pdf" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C7.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C7.pdf")
      -#%img.pubthumb(src="images/thumbs/2010_dac.png")
    %h4.pubtitle#c7
      %a(href="esl.cise.ufl.edu/Publications/chenThesis.pdf" target="_blank") Efficient Approaches For Functional Validation of SOC Designs Using High-Level Specifications
    .pubauthor
      %strong Mingsong Chen
    .pubcite
      %span.label.label-warning C7
      In Design Automation Conference (DAC) | Anaheim, CA, USA, June 2010     
.item
  .pubmain
    .pubassets
      %a(href="http://ieeexplore.ieee.org/document/5457156/" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C6.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C6.pdf")
      -#%img.pubthumb(src="images/thumbs/2010_date.png")
    %h4.pubtitle#c6
      %a(href="http://ieeexplore.ieee.org/document/5457156/" target="_blank") Efficient Decision Ordering Techniques for SAT-based Test Generation
    .pubauthor
      %strong Mingsong Chen,
      Xiaokang Qiu,
      Prabhat Mishra
    .pubcite
      %span.label.label-warning C6
      In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2010  | Pages 490&ndash;495  | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/0f/fc/cd8d371743b59b0f34e9224771fa/3404b9b2-ac5c-449e-9060-676da5c97687.pdf" target="_blank"> ppt </a>  
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/VLSI.Design.2009.72" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C5.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C5.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c5
      %a(href="https://doi.org/10.1109/VLSI.Design.2009.72" target="_blank") Efficient Techniques for Directed Test Generation using Incremental Satisfiability
    .pubauthor
      Prabhat Mishra,
      %strong Mingsong Chen
    .pubcite
      %span.label.label-warning C5
      In  International Conference on VLSI Design (ICSE) | Bangalore, india, January 2010   | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/ba/43/8ee536044cdcb84b6880d2523a87/ecdaaa73-e073-4a50-965b-5143b0f665a8.pdf" target="_blank"> ppt </a>  | <span class='red'> Nominated for best paper award</span> 
%h4 2008
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1145/1366110.1366145" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C4.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C4.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c4
      %a(href="https://doi.org/10.1145/1366110.1366145" target="_blank") Coverage-driven Automatic Test Generation for UML Activity Diagrams
    .pubauthor
      %strong Mingsong Chen,
      Prabhat Mishra
    .pubcite
      %span.label.label-warning C4
      In Great Lakes Symposium on VLSI (GLSVLSI) | New York, USA, May 2008   | <a href="" target="_blank"> tools </a>  | <a href="http://url.cn/PI3pcA" target="_blank"> ppt </a>  
%h4 2007
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/HLDVT.2007.4392793" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C3.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C3.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c3
      %a(href="https://doi.org/10.1109/HLDVT.2007.4392793" target="_blank") Coverage-driven Automatic Test Generation for UML Activity Diagrams
    .pubauthor
      %strong Mingsong Chen,
      Prabhat Mishra
    .pubcite
      %span.label.label-warning C3
      In International Workshop on High-Level Design Validation and Test (HLDVT) | Irvine, CA, USA, November 2007     
.item
  .pubmain
    .pubassets
      %a(href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.121.8570&rep=rep1&type=pdf" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C2.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c2
      %a(href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.121.8570&rep=rep1&type=pdf" target="_blank") Comparing Mobility and Predictability of VoIP and WLAN Traces
    .pubauthor
      Jeeyoung Kim,
      Yi Du,
      %strong Mingsong Chen,
      Ahmed Helmy
    .pubcite
      %span.label.label-warning C2
      In CRAWDAD Workshop (CRAWDAD) | Montréal, Canada, September 2007   | <a href="" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/ba/43/8ee536044cdcb84b6880d2523a87/61efeb27-a145-4328-9cdc-97287d1b4bb9.ppt" target="_blank"> ppt </a>  
%h4 2006
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1145/1138929.1138931" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a.paper(href="papers/C1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    -#%a.paper(href="papers/C1.pdf")
      -#%img.pubthumb(src="images/nothumb.png")
    %h4.pubtitle#c1
      %a(href="https://doi.org/10.1145/1138929.1138931" target="_blank") Automatic Test Case Generation for UML Activity Diagrams
    .pubauthor
      %strong Mingsong Chen,
      Xiaokang Qiu,
      Xuandong Li,
      Ahmed Helmy
    .pubcite
      %span.label.label-warning C1
      In First International Workshop on Automation on Software Test (AST) | Shanghai, China, May 2006  | Pages 2&ndash;8  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/ba/43/8ee536044cdcb84b6880d2523a87/f5667a8a-7938-450b-beef-94dd36a71778.rar" target="_blank"> tools </a>   
