%h4 In press
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TPDS.2016.2621768" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J25.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=71" target="_blank")
      -#%img.pubthumb(src="images/covers/tpds.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j25 
      %a(href="https://doi.org/10.1109/TPDS.2016.2621768" target="_blank") Efficient Resource Constrained Scheduling using Parallel Two-Phase Branch-and-Bound Heuristics
    .pubauthor
      %strong Mingsong Chen,
      Xin Fu,
      Geguang Pu,
      Tongquan Wei
    .pubcite
      %span.label.label-info J25
      In IEEE Transactions on Parallel and Distributed Systems   | <a href="http://faculty.ecnu.edu.cn/picture/article/223/26/c1/e0470b9e49a4898a8f5ac9d1f684/05ae9b2d-c416-4d12-8baf-08233db7d3fc.zip" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/26/c1/e0470b9e49a4898a8f5ac9d1f684/69187182-6aa0-4cd2-96b8-5cf3079664e6.zip" target="_blank"> benchmarks </a>
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TCAD.2017.2681076" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J24.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="" target="_blank")
      -#%img.pubthumb(src="images/covers/tcad.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j24 
      %a(href="https://doi.org/10.1109/TCAD.2017.2681076" target="_blank") Quantitative Performance Evaluation of Uncertainty-Aware Hybrid AADL Designs Using Statistical Model Checking
    .pubauthor
      Yongxiang Bao,
      %strong Mingsong Chen,
      Qi Zhu,
      Tongquan Wei,
      Frederic Mallet
    .pubcite
      %span.label.label-info J24
      In IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems   | <a href="https://github.com/tony11231/aadl2uppaal" target="_blank"> tools </a> 
.item
  .pubmain
    .pubassets
      %a(href="http://doi.org/10.1016/j.micpro.2017.04.002" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J23.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="https://www.journals.elsevier.com/microprocessors-and-microsystems/" target="_blank")
      -#%img.pubthumb(src="images/covers/jmm.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j23 
      %a(href="http://doi.org/10.1016/j.micpro.2017.04.002" target="_blank") Emerging technology enabled energy-efficient gpgpus register file
    .pubauthor
      Chenhao Xie,
      Jingweijia Tan,
      %strong Mingsong Chen,
      Yang Yi,
      Lu Peng,
      Xin Fu
    .pubcite
      %span.label.label-info J23
      In Journal of Microprocessors and Microsystems   
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1142/S0218126617500165" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J22.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://www.worldscientific.com/worldscinet/jcsc" target="_blank")
      -#%img.pubthumb(src="images/covers/jcsc.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j22 
      %a(href="http://dx.doi.org/10.1142/S0218126617500165" target="_blank") Fault-Tolerant Task Scheduling for Mixed-Criticality Real-TimeSystems
    .pubauthor
      Min Yin,
      Junlong Zhou,
      Zhifang Li,
      Kun Cao,
      Jianmin Yan,
      Tongquan Wei,
      %strong Mingsong Chen,
      Xin Fu
    .pubcite
      %span.label.label-info J22
      In Journal of Circuits, Systems and Computers   
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1142/S0218126617500220" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J21.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://www.worldscientific.com/worldscinet/jcsc" target="_blank")
      -#%img.pubthumb(src="images/covers/jcsc.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j21 
      %a(href="http://dx.doi.org/10.1142/S0218126617500220" target="_blank")  GPU-Based Fluid Motion Estimation using Energy Constrain
    .pubauthor
      Siyuan Xu,
      Han Zhuang,
      Xin Fu,
      Zhifang Li,
      %strong Mingsong Chen
    .pubcite
      %span.label.label-info J21
      In Journal of Circuits, Systems and Computers   
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TCC.2016.2586067" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J20.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=6245519" target="_blank")
      -#%img.pubthumb(src="images/covers/tcc.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j20 
      %a(href="https://doi.org/10.1109/TCC.2016.2586067" target="_blank") Statistical Model Checking-Based Evaluation and Optimization forCloud Workflow Resource Allocation
    .pubauthor
      %strong Mingsong Chen,
      Xin Fu,
      Sharon Hu,
      Xuandong Li,
      Jifeng He
    .pubcite
      %span.label.label-info J20
      In IEEE Transactions on Cloud Computing   
.item
  .pubmain
    .pubassets
      
      %a(href="papers/J19.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://todaes.acm.org/" target="_blank")
      -#%img.pubthumb(src="images/covers/todaes.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j19 
      %a(href="" target="_blank")  Exploring Energy-Efficient Cache Design in Emerging Mobile Platforms
    .pubauthor
      Kaige Yan,
      Peng Lu,
      %strong Mingsong Chen,
      Xin Fu
    .pubcite
      %span.label.label-info J19
      In ACM Transactions on Design Automation of Electronic Systems   
%h4 2017
.item
  .pubmain
    .pubassets
      %a(href=" http://www.jos.org.cn/1000-9825/5217.htm" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J18.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://www.jos.org.cn" target="_blank")
      -#%img.pubthumb(src="images/covers/jos.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j18 
      %a(href=" http://www.jos.org.cn/1000-9825/5217.htm" target="_blank") 基于通信的列车控制系统可信构造：形式化方法研究
    .pubauthor
      %strong 陈铭松 ,
      鲍勇翔 ,
      孙海英 ,
      缪炜恺 ,
      陈小红 ,
      周庭梁 
    .pubcite
      %span.label.label-info J18
      In 软件学报 28(5), 2017 | Pages 1183-1203  
%h4 2016
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TPDS.2016.2531668" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J17.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=71" target="_blank")
      -#%img.pubthumb(src="images/covers/tpds.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j17 
      %a(href="https://doi.org/10.1109/TPDS.2016.2531668" target="_blank") Mitigating the Impact of Hardware Variability for GPGPUs Register File
    .pubauthor
      Jingweijia Tan,
      %strong Mingsong Chen,
      Yang Yi,
      Xin Fu
    .pubcite
      %span.label.label-info J17
      In IEEE Transactions on Parallel and Distributed Systems 27(11), 2016 | Pages 3283-3297  
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TCAD.2015.2501286" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J16.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="" target="_blank")
      -#%img.pubthumb(src="images/covers/tcad.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j16 
      %a(href="https://doi.org/10.1109/TCAD.2015.2501286" target="_blank") Thermal-Aware Task Scheduling for Energy Minimization in Heterogeneous Real-Time MPSoC Systems
    .pubauthor
      Junlong Zhou,
      Tongquan Wei,
      %strong Mingsong Chen,
      Yue Ma,
      Sharon Hu
    .pubcite
      %span.label.label-info J16
      In IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems 35(8), 2016 | Pages 1269-1282  
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1145/2827697" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J15.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=71" target="_blank")
      -#%img.pubthumb(src="images/covers/tpds.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j15 
      %a(href="https://doi.org/10.1145/2827697" target="_blank") Exploring Soft-Error Robust and Energy-Efficient Register File in GPGPUs using Resistive Memory
    .pubauthor
      Jingweijia Tan,
      Zhifang Li,
      %strong Mingsong Chen,
      Xin Fu
    .pubcite
      %span.label.label-info J15
      In IEEE Transactions on Parallel and Distributed Systems 21(2), 2016 | Pages 34  
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TC.2015.2468230" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J14.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="https://www.computer.org/web/tc" target="_blank")
      -#%img.pubthumb(src="images/covers/tc.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j14 
      %a(href="https://doi.org/10.1109/TC.2015.2468230" target="_blank") Efficient Resource Constrained Scheduling using Parallel Structure Aware Pruning Techniques
    .pubauthor
      %strong Mingsong Chen,
      Xiqian Zhang,
      Geguang Pu,
      Xin Fu,
      Prabhat Mishra
    .pubcite
      %span.label.label-info J14
      In IEEE Transactions on Computers 65(7), 2016 | Pages 2059-2073  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/f5/4f/41df00854e5594ce6636ce5b54d1/4a529336-0ff0-4237-a18d-63d9adb9473e.zip" target="_blank"> tools </a>  | <a href="http://faculty.ecnu.edu.cn/picture/article/223/0f/00/8d408c514ec4817d4124d11d27fc/068b8e6b-dcc9-4440-94d1-33d883e31099.zip" target="_blank"> benchmarks </a>
.item
  .pubmain
    .pubassets
      %a(href="http://www.jos.org.cn/ch/reader/create_pdf.aspx?file_no=4987&journal_id=jos" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J13.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://www.jos.org.cn" target="_blank")
      -#%img.pubthumb(src="images/covers/jos.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j13 
      %a(href="http://www.jos.org.cn/ch/reader/create_pdf.aspx?file_no=4987&journal_id=jos" target="_blank") 不确定环境下基于价格时间自动机的智能大厦空调系统调度策略评估
    .pubauthor
      %strong 陈铭松 ,
      顾璠 ,
      徐思远 ,
      陈小红 ,
      周庭梁 
    .pubcite
      %span.label.label-info J13
      In 软件学报 27(3), 2016 | Pages 655-669  
%h4 2014
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/s10836-014-5452-x" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J12.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://www.springer.com/engineering/circuits+%26+systems/journal/10836" target="_blank")
      -#%img.pubthumb(src="images/covers/jetta.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j12 
      %a(href="http://dx.doi.org/10.1007/s10836-014-5452-x" target="_blank") Efficient Learning-Oriented Property Decomposition  for Automated Generation of Directed Tests
    .pubauthor
      %strong Mingsong Chen,
      Xiaokang Qiu,
      Prabhat Mishra
    .pubcite
      %span.label.label-info J12
      In Journal of Electronic Testing 30(3), 2014 | Pages 287-306  
.item
  .pubmain
    .pubassets
      %a(href="http://fcst.ceaj.org/CN/article/downloadArticleFile.do?attachType=PDF&id=758" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J11.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://www.ceaj.org/" target="_blank")
      -#%img.pubthumb(src="images/covers/ceaj.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j11 
      %a(href="http://fcst.ceaj.org/CN/article/downloadArticleFile.do?attachType=PDF&id=758" target="_blank") 基于GPU平台的有效字典压缩与解压缩技术
    .pubauthor
      覃子姗 ,
      顾璠 ,
      邱晓康 ,
      %strong 陈铭松 
    .pubcite
      %span.label.label-info J11
      In 基于GPU平台的有效字典压缩与解压缩技术 8(5), 2014 | Pages 525-536  
%h4 2013
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1007/s11704-013-2008-1" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J10.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="https://link.springer.com/journal/117046" target="_blank")
      -#%img.pubthumb(src="images/covers/fcsc.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j10 
      %a(href="https://doi.org/10.1007/s11704-013-2008-1" target="_blank") An Approach to Requirement Anaysis for Periodic Control Systems
    .pubauthor
      Zhike Wu,
      Geguang Pu,
      Jianwen Li,
      Yuxiang Chen,
      Yongxin Zhao,
      %strong Mingsong Chen,
      Bin Gu,
      Jifeng He
    .pubcite
      %span.label.label-info J10
      In Frontiers of Computer Science in China 7(4), 2013 | Pages 214-235  
.item
  .pubmain
    .pubassets
      %a(href="http://faculty.ecnu.edu.cn/picture/article/223/ba/43/8ee536044cdcb84b6880d2523a87/4ca46f15-0367-4385-922e-c60520bb4df1.pdf" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J9.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="www.ccf.org.cn/sztsg/cbw/zgjsjxhtx/" target="_blank")
      -#%img.pubthumb(src="images/covers/zgjsjxhtx.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j9 
      %a(href="http://faculty.ecnu.edu.cn/picture/article/223/ba/43/8ee536044cdcb84b6880d2523a87/4ca46f15-0367-4385-922e-c60520bb4df1.pdf" target="_blank") CPS研究热点概述
    .pubauthor
      %strong 陈铭松 ,
      黄赛杰 ,
      李昂 
    .pubcite
      %span.label.label-info J9
      In 中国计算机学会通讯 9(7), 2013 | Pages 8-16  
%h4 2012
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1145/2220336.2220350" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J8.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://tecs.acm.org/" target="_blank")
      -#%img.pubthumb(src="images/covers/tecs.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j8 
      %a(href="https://doi.org/10.1145/2220336.2220350" target="_blank") Automaitc RTL Test Generation from SystemC TLM Specifications
    .pubauthor
      %strong Mingsong Chen,
      Prabhat Mishra
    .pubcite
      %span.label.label-info J8
      In ACM Transactions on Embedded Computing Systems 11(2), 2012 | Pages 38  
%h4 2011
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TC.2011.49" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J7.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="https://www.computer.org/web/tc" target="_blank")
      -#%img.pubthumb(src="images/covers/tc.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j7 
      %a(href="https://doi.org/10.1109/TC.2011.49" target="_blank") Property Learning Techniques for Efficient Generation of Directed Tests
    .pubauthor
      %strong Mingsong Chen,
      Prabhat Mishra
    .pubcite
      %span.label.label-info J7
      In IEEE Transactions on Computers 60(6), 2011 | Pages 852-864  
%h4 2010
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1007/s10617-010-9052-4" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J6.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="http://todaes.acm.org/" target="_blank")
      -#%img.pubthumb(src="images/covers/todaes.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j6 
      %a(href="https://doi.org/10.1007/s10617-010-9052-4" target="_blank") Efficient test case generation for validation of UML activity diagrams
    .pubauthor
      %strong Mingsong Chen,
      Prabhat Mishra,
      Dhrubajyoti Kalita
    .pubcite
      %span.label.label-info J6
      In ACM Transactions on Design Automation of Electronic Systems 14(2), 2010 | Pages 852-864  
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TCAD.2010.2041846" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J5.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="" target="_blank")
      -#%img.pubthumb(src="images/covers/tcad.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j5 
      %a(href="https://doi.org/10.1109/TCAD.2010.2041846" target="_blank")  Efficient SAT-based Test Generation using Property Clustering
    .pubauthor
      %strong Mingsong Chen,
      Prabhat Mishra
    .pubcite
      %span.label.label-info J5
      In IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems 29(3), 2010 | Pages 396-404  
%h4 2009
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1093/comjnl/bxm057" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J4.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="https://academic.oup.com/comjnl" target="_blank")
      -#%img.pubthumb(src="images/covers/tcj.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j4 
      %a(href="https://doi.org/10.1093/comjnl/bxm057" target="_blank") UML Activity Diagram Based Automatic Test Case Generation for Java Programs
    .pubauthor
      %strong Mingsong Chen,
      Xiaokang Qiu,
      Wei Xu,
      Linzhang Wang,
      Junlong Zhou,
      Xuandong Li
    .pubcite
      %span.label.label-info J4
      In The Computer Journal 52(5), 2009 | Pages 545-556  
%h4 2007
.item
  .pubmain
    .pubassets
      %a(href="http://www.jsjkx.com/jsjkx/ch/reader/view_abstract.aspx?file_no=23655161" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J3.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="www.jsjkx.com" target="_blank")
      -#%img.pubthumb(src="images/covers/jsjkx.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j3 
      %a(href="http://www.jsjkx.com/jsjkx/ch/reader/view_abstract.aspx?file_no=23655161" target="_blank") 一种动态消减时间自动机可达性搜索空间的方法
    .pubauthor
      %strong 陈铭松 ,
      赵建华 ,
      李宣东 ,
      郑国梁 
    .pubcite
      %span.label.label-info J3
      In 计算机科学 34(01), 2007 | Pages 213-218  
.item
  .pubmain
    .pubassets
      %a(href="http://www.jsjkx.com/jsjkx/ch/reader/view_abstract.aspx?file_no=26159129" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="www.jsjkx.com" target="_blank")
      -#%img.pubthumb(src="images/covers/jsjkx.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j2 
      %a(href="http://www.jsjkx.com/jsjkx/ch/reader/view_abstract.aspx?file_no=26159129" target="_blank") 行为图驱动的Java程序运行时验证工具
    .pubauthor
      邱晓康 ,
      %strong 陈铭松 ,
      王林章 ,
      李宣东 ,
      郑国梁 
    .pubcite
      %span.label.label-info J2
      In 计算机科学 34(12), 2007 | Pages 273-277  
%h4 2006
.item
  .pubmain
    .pubassets
      %a(href="http://www.jsjkx.com/jsjkx/ch/reader/view_abstract.aspx?file_no=22086624" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="papers/J1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      -#%a(href="www.jsjkx.com" target="_blank")
      -#%img.pubthumb(src="images/covers/jsjkx.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j1 
      %a(href="http://www.jsjkx.com/jsjkx/ch/reader/view_abstract.aspx?file_no=22086624" target="_blank") 时间自动机可达性分析中的状态空间约减技术综述
    .pubauthor
      %strong 陈铭松 ,
      赵建华 ,
      李宣东 ,
      郑国梁 
    .pubcite
      %span.label.label-info J1
      In 计算机科学 33(06), 2006 | Pages 1-7  
