%li
  The article
  %a(href="publications.html#j25") Efficient Resource Constrained Scheduling using Parallel Two-Phase Branch-and-Bound Heuristics
  got accepted for publication in
  %i IEEE Transactions on Parallel and Distributed Systems.
  
%li
  The papers
  %ul
    %li
      %a(href="publications.html#c30") Data flow testing for virtual prototypes
    %li
      %a(href="publications.html#c29") Energy-Adaptive Scheduling of Imprecise Computation Tasks for QoS Optimization in Real-Time MPSoC
  have been accepted by the DATE 2017 conference.
  
%li
  The article
  %a(href="publications.html#j24") Quantitative Performance Evaluation of Uncertainty-Aware Hybrid AADL Designs Using Statistical Model Checking
  got accepted for publication in
  %i IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems.
  
%li
  The article
  %a(href="publications.html#j23") Emerging technology enabled energy-efficient gpgpus register file
  got accepted for publication in
  %i Journal of Microprocessors and Microsystems.
  
%li
  The articles
  %ul
    %li
      %a(href="publications.html#j22") Fault-Tolerant Task Scheduling for Mixed-Criticality Real-TimeSystems
    %li
      %a(href="publications.html#j21")  GPU-Based Fluid Motion Estimation using Energy Constrain
  got accepted for publication in
  %i Journal of Circuits, Systems and Computers.
  
