-#%p These workshop papers are peer-reviewed and have been presented at events, where the proceedings where distributed only among the participants.  If you are interested in one of the listed papers, please send me an eMail and I am happy to share the PDF.
%h4 专利

.item
  .pubmain
    %h4.pubtitle#p16
      一种基于GPU并行字典破解托库中的加密数据方法
    .pubauthor
      %strong 陈铭松,
      王红祥.
    .pubcite
      %span.label.label-warning P16
      中国，201710142457.X, 2017
.item
  .pubmain
    %h4.pubtitle#p15
      一种基于云计算的虚拟现实自行车实现方法
    .pubauthor
      %strong 陈铭松,
      宋进忠.
    .pubcite
      %span.label.label-warning P15
      中国，201710139232.9, 2017
.item
  .pubmain
    %h4.pubtitle#p14
      一种不确定环境下混成AADL模型量化分析方法
    .pubauthor
      %strong 陈铭松,
      鲍勇翔.
    .pubcite
      %span.label.label-warning P14
      申请，2016.6.8，201610223650.1
.item
  .pubmain
    %h4.pubtitle#p13
      一种基于统计模型检验的UML活动图评估方法
    .pubauthor
      %strong 陈铭松,
      顾幡，黄赛杰，张心潜.
    .pubcite
      %span.label.label-warning P13
      申请，2015.3.06，201510005356.9
.item
  .pubmain
    %h4.pubtitle#p12
      不确定性环境下ThingML模型的量化分析方法
    .pubauthor
      %strong 陈铭松,
      徐思远，王红祥.
    .pubcite
      %span.label.label-warning P12
      申请，2016.07.13，CN201610300114.7
.item
  .pubmain
    %h4.pubtitle#p11
      一种面向节能的启发式云计算资源分配与调度方法
    .pubauthor
      %strong 陈铭松,
      吴庭明.
    .pubcite
      %span.label.label-warning P11
      申请，2016.12.20，2016110966411.5
.item
  .pubmain
    %h4.pubtitle#p10
      一种新型高效的启发式两阶段并行分支定界方法
    .pubauthor
      %strong 陈铭松,
      刘必成，宋进忠，王红祥.
    .pubcite
      %span.label.label-warning P10
      申请，2016.11.02，CN201610292242.1
.item
  .pubmain
    %h4.pubtitle#p9
      基于并行结构感知技术的资源约束条件下调度寻优方法
    .pubauthor
      %strong 陈铭松,
      刘必成.
    .pubcite
      %span.label.label-warning P9
      申请，2015.12.02，CN201510863693.1
.item
  .pubmain
    %h4.pubtitle#p8
      制程变异下温度感知的MPSoC任务分配及调度策略的评估方法
    .pubauthor
      %strong 陈铭松,
      顾璠.
    .pubcite
      %span.label.label-warning P8
      申请，2015.5.29，CN201510285923.0
.item
  .pubmain
    %h4.pubtitle#p7
      不确定环境下只能大厦空调系统的调度策略评估方法
    .pubauthor
      %strong 陈铭松,
      顾璠，张心潜.
    .pubcite
      %span.label.label-warning P7
      2015.9，中国，201510551875.5
.item
  .pubmain
    %h4.pubtitle#p6
      基于机器学习和统计模型检验的工作流最优配置寻优方法
    .pubauthor
      %strong 陈铭松,
      张心潜，黄赛杰.
    .pubcite
      %span.label.label-warning P6
      2015.9，中国，201510551452.3
.item
  .pubmain
    %h4.pubtitle#p5
      制程变异下基于UPPAAL-SMC的MPSoC任务调度建模与评估方法
    .pubauthor
      %strong 陈铭松,
      顾璠.
    .pubcite
      %span.label.label-warning P5
      2015.1,中国， 201510005475.4
.item
  .pubmain
    %h4.pubtitle#p4
      一种基于统计模型检验的UML活动图评估方法
    .pubauthor
      %strong 陈铭松,
      黄赛杰.
    .pubcite
      %span.label.label-warning P4
      2015.1,中国， 201510005356.9，已授权
.item
  .pubmain
    %h4.pubtitle#p3
      一种云计算中资源分配策略的评估方法
    .pubauthor
      %strong 陈铭松,
      黄赛杰.
    .pubcite
      %span.label.label-warning P3
      2014.5，中国， 201410189197.8
.item
  .pubmain
    %h4.pubtitle#p2
      一种基于时间自动机的软硬件最优划分的可视化方法
    .pubauthor
      %strong 陈铭松,
      黄赛杰，浦戈光.
    .pubcite
      %span.label.label-warning P2
      中国，201410350399.6
.item
  .pubmain
    %h4.pubtitle#p1
      一种基于流体运动矢量的并行分析方法
    .pubauthor
      %strong 陈铭松,
      王红祥，徐思远.
    .pubcite
      %span.label.label-warning P1
      申请，2016.7.27，201610490479.0

%h4 软件著作权
.item
  .pubmain
    %h4.pubtitle#s7
      不确定环境下智能大厦空调系统的调度策略评估工具软件
    .pubauthor
      %strong 陈铭松,
      顾璠.
    .pubcite
      %span.label.label-warning S7
      受理号: 2015R11S188075
.item
  .pubmain
    %h4.pubtitle#s6
      UML活动图至UPPAAL-SMC时间自动机网络转换工具软件
    .pubauthor
      %strong 陈铭松,
      张心潜.
    .pubcite
      %span.label.label-warning S6
      受理号: 2015R11S188074
.item
  .pubmain
    %h4.pubtitle#s5
      基于GPU的流体运动矢量并行化方法软件
    .pubauthor
      %strong 陈铭松,
      王红祥，徐思远.
    .pubcite
      %span.label.label-warning S5
      2016SR219598，原始取得，2016.08.16
.item
  .pubmain
    %h4.pubtitle#s4
      基于AADL模型的不确定性环境下CBTC系统评估软件
    .pubauthor
      %strong 陈铭松,
      鲍勇翔.
    .pubcite
      %span.label.label-warning S4
      2016SR119984，原始取得，2016.05.26
.item
  .pubmain
    %h4.pubtitle#s3
      基于一种新型的启发式两阶段并行分支界定法的软件
    .pubauthor
      %strong 陈铭松,
      刘必成.
    .pubcite
      %span.label.label-warning S3
      2016SR119981，原始取得，2016.05.26
.item
  .pubmain
    %h4.pubtitle#s2
      不确定环境下基于ThingML模型的量化分析工具软件
    .pubauthor
      %strong 陈铭松,
      徐思远，王红祥.
    .pubcite
      %span.label.label-warning S2
      2016SR375945，原始取得，2016.12.15
.item
  .pubmain
    %h4.pubtitle#s1
      基于并行-结构感知技术的资源约束条件下调度寻优软件
    .pubauthor
      %strong 陈铭松,
      刘必成.
    .pubcite
      %span.label.label-warning S1
      2016SR037474，原始取得，2016.02.25