!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mingsong Chen / Research')
  %body
    .container#main-container

      .row#main-row

        .col-md-8
          %h1.page-header Projects

          %h4.blue 主持:
          %ul.big
            %li
              国家自然科学基金面上项目 “基于虚拟原型的信息物理融合系统高效可信构造研究” （2017-2017）
            %li
              国家自然科学基金重大计划项目 “不确定环境下可信国产城轨控制系统（iCMTCt）构造关键技术研究” （2015-2016）
            %li
              国家自然科学基金 “基于高阶规约定向测试的异构系统验证研究”（2013-2015）
            %li
              上海教委创新重点项目 “高阶规约驱动的CPS系统可信构造研究”（2014-2016）
            %li
              教育部博士点基金 （2012-2013）
            %li
              华东师范大学创新基金 （2011-2012）
          %h4.blue  参与:
          %ul.big
            %li
              863计划 “面向信息-物理融合的系统平台” (骨干成员，已结题)
            %li
              美国国家自然科学基金“异构多核架构的功能验证”(骨干成员，已结题)
            %li
              Intel 资助研究项目 “基于SystemC TLM的SoC验证” (骨干成员，已结题)


      = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => 'research')